<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lab 7</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>

        <div>
            <form style="position:absolute; top:5%; left:5%;" method="get" action="/home/get">

                <h2>Найти продажи книг (пуст. для всех книг) до определенной даты (пуст. для всех продаж книги) : </h2>
                <input name="id" type="number" placeholder=" код "/> или
                <input name="bookName" type="text" placeholder=" название "/> книги<br/>
                <input name="date" type="date" placeholder=" дата продажи "/> книги
                <br/><br/>
                <input style="margin-left: 10%; " type="submit" value="Найти"/>
            </form>
            <br/>
            <h2 style="position:absolute; top:30%; left:7%;">Заполните : <br/>    - только код, чтобы удалить<br/>
                    - все поля, чтобы изменить<br/>
                 - все поля, кроме кода, чтобы добавить<br/></h2>
            <form style="position:absolute; top:20%; right:42%;" method="post" action="/home/change">
                <h1>Книги</h1>
                <input name="bId" type="number" placeholder=" код книги "/><br/>
                <input name="bookName" type="text" placeholder=" название "/><br/>
                <input name="author" type="text" placeholder=" автор "/><br/>
                <input name="knowledge" type="text" placeholder=" сфера знаний "/><br/>
                <input name="year" type="number" placeholder=" год написания "/><br/><br/>
                <input style="margin-left: 10%; " type="submit" value=" Выполнить "/>
            </form>

             <form style="position:absolute; top:20%; right:10%;" method="post" action="/home/sale/change">
                 <h1>Продажи</h1>
                 <input name="sId" type="number" placeholder=" номер чека "/><br/>
                <input name="book" type="number" placeholder=" код книги "/><br/>
                <input name="number" type="number" placeholder=" количество "/><br/>
                <input name="date" type="date" placeholder=" дата "/><br/><br/><br/>
                <input style="margin-left: 10%; " type="submit" value=" Выполнить "/>
            </form>

        </div>
       <table style="position:absolute; top:60%; right:38%;" border="1">
            <thead>
            <tr>
                <th> Код </th>
                <th> Название </th>
                <th> Автор </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${books.empty}">
                <td colspan="2"> No Books Available </td>
            </tr>
            <tr th:each="book : ${books}">
                <td><span th:text="${book.id}"> Код </span></td>
                <td><span th:text="${book.name}"> Название </span></td>
                <td><span th:text="${book.author}"> Автор </span></td>
            </tr>
            </tbody>
        </table>


            <table style="position:absolute; top:60%; right:4%;" border="1">
                <thead>
                <tr>
                    <th> Номер чека </th>
                    <th> Код книги </th>
                    <th> Дата </th>
                    <th> Количество </th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${sales.empty}">
                    <td colspan="2"> No Books Available </td>
                </tr>
                <tr th:each="sale : ${sales}">
                    <td><span th:text="${sale.id}"> Номер чека </span></td>
                    <td><span th:text="${sale.book}"> Код книги </span></td>
                    <td><span th:text="${sale.date}"> Дата </span></td>
                    <td><span th:text="${sale.number}"> Количество </span></td>
                </tr>
                </tbody>
            </table>


</body>
</html>