<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lab 7</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>

<div>
    <h1>Продажи</h1>
    <h2 th:text="${message}"></h2>
</div>
<h1><button onclick="window.history.back();">Назад</button></h1>

</body>
</html>